<div class="jumbotron">
  <h1>Welcome to the Coolest Ebook Market Place in the world!</h1>
  <p>Publish Books, buy, sell, and manage a Ebook Store, Hassle Free $ !</p>
  <%= link_to "Books", books_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>